/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.site-header {
  background: #4a4a4a;
  color: #FEFDF8;
  margin-bottom: 2em;
}
.site-header h1 {
  margin-bottom: 0;
}
.site-footer {
  margin-top: 2em;
}
.wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.code {
  width: 30%;
  padding: 2em 1em;
  font-size: 11px;
}
p {
  white-space: nowrap;
}
pre {
  margin: 0;
  background: #2e2e2e;
  color: #d6d6d6;
}
select {
  display: inline;
  color: black;
}
.left {
  width: 70%;
  padding: 1em;
}
.container-props {
  background: #cb743b;
  color: white;
}

.flex-container {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  position: relative;
  border: 6px solid #cb743b;
  font-size: 2em;
  font-family: "Nunito", sans-serif;
}

.flex-container.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container.display-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* FLEX DIRECTION */
.flex-container.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-container.flex-direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-container.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container.flex-direction-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/*
justify-content: flex-start/flex-end/space-between/center/space-around
*/
.flex-container.justify-content-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-container.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-container.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-container.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-container.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*
align-content: flex-start/flex-end/center/space-between/space-around/stretch
*/
.flex-container.align-content-flex-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.flex-container.align-content-flex-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
.flex-container.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}
.flex-container.align-content-space-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.flex-container.align-content-space-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
.flex-container.align-content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

/*
align-items: flex-start/flex-end/center/baseline/stretch
*/
.flex-container.align-items-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flex-container.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex-container.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.flex-container.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/*
flex-wrap: nowrap/wrap/wrap-reverse/
*/
.flex-container.flex-wrap-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.flex-container.flex-wrap-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-container.flex-wrap-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-item-wrap pre,
.flex-item-2-wrap pre,
.flex-item-3-wrap pre,
.flex-item-4-wrap pre,
.flex-item-5-wrap pre,
.flex-item-6-wrap pre {
  background: #CEDEBD;
  color: #4a4a4a;
}

.flex-item {
  padding: 1em;
  text-align: center;
  width: 100px;
  position: relative;
  background: #CEDEBD;
  margin: 5px;
}

/* ALIGN SELF */
.flex-item.align-self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}
.flex-item.align-self-flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.flex-item.align-self-flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.flex-item.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.flex-item.align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.flex-item.align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

/* ALIGN SELF - ITEM 1 */
.flex-item-1.align-self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}
.flex-item-1.align-self-flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.flex-item-1.align-self-flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.flex-item-1.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.flex-item-1.align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.flex-item-1.align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.flex-item-1-wrap pre {
  background: #a1bf81;
  color: #4a4a4a;
}

.flex-item:nth-child(1) {
  background: #a1bf81;
}

@media screen and (min-width: 48rem) {
  .site-branding {
    width: 100% !important;
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
